body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  margin: 0 auto 0 auto;
  padding: 2% 0 0 0;
}

.notebook-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.notebook-header {
  width: 100%;
  height: 20%;
  text-align: center;
  background: linear-gradient(90deg, #FFA800 0%, #FF00C0 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.notebook-headline {
  color: white;
  font-size: 200%;
}

.notebook-body {
  width: 100%;
  height: auto;
  min-height: 50vh;
  box-sizing: content-box;
  display: flex;
  flex-flow: column nowrap;
  background: #FFFAFA;
  z-index: 0;
}

.new-note-container {
  width: 100%;
  height: 20%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 2% 0 0 2%;
}

.new-note {
  width: 80%;
  max-width: 900px;
  border: 1px solid #FFA800;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.new-note:focus {
  outline: 1px solid #FF00C0;
}

.new-note-submit-btn {
  width: 18%;
  max-height: 50px;
  padding: 1% 0 1% 0;
  border: none;
  background: #FFA800;
  font-size: 150%;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.delete-note-btn {
  display: inline-flex;
  width: 4%;
  font-size: 150%;
  border: none;
  color: white;
  margin: 0 5% 0 5%;
  background: #FFA800;
}

.new-note-submit-btn:hover, .delete-note-btn:hover {
  cursor: pointer;
}

.notes-list {
  margin: 5% 0 0 4%;
  width: 100%;
}

.note {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 150%;
  width: 90%;
}

.note:before {
  display: inline-flex;
  font-family: 'Font awesome 5 free';
  font-weight: 900;
  font-size: 150%;
  content: '\f004';
  color: #FF00C0;
  margin-right: 5%;
  width: 5%;
}



.notebook-footer {
  width: 100%;
  height: 10%;
  background: linear-gradient(90deg, #FFA800 0%, #FF00C0 100%);
  text-align: center;
}

.notebook-footer-text {
  color: white;
}